.button-hidden {
    background: none;
    padding: 0px;
    border: none;
    display: inherit;
}

.sidebar-sticky {
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

a {
    outline: none;
}

a.nav-link:hover {
    background-color: white;
}

li.nav-item:first-child {
    margin-top: 40px;
}

a:last-child li.list-group-item {
    border-bottom: none;
}

li.list-group-item:hover {
    background-color: #f8f9fa;
}

.dropdown-toggle {
    color: #333;
}

.dropdown-toggle:after {
    content: none !important;
}

.dropdown-toggle:hover {
    text-decoration: none;
    color: grey;
}

#edit:hover {
    color: #ffad33;
}

#delete:hover {
    color: #ff3333;
}

#favorite:hover {
    color: #ffff60;
}
